
<div class= "text-center">


<br>


<br>

<%= link_to "Create a Task", new_task_path, class: "btn btn-primary" %>


<br>

<br>

<br>


<br>



<%= link_to "See Your Tasks", tasks_path, class: "btn btn-default" %>
</div>


